.container{
  width: 100%;
  max-width: 700px;
  margin: 100px auto;
}

.explain button{
  margin-top: 30px;
  width:100%;
}
.explain p{
  display:none;
}
.btn{
  border-color: black;

}

.correctActive{
  background-color: aquamarine;
  
}
.wrongActive{
  background-color: rgb(255, 153, 127);
}

h5{
  margin-top:30px;
}

.btn-info{
  margin-top: 100px;
  color:cornsilk;
  
}
.result-content{
 text-align:center;
 font-size:16px;
 background-color: rgb(228, 248, 196);
 margin: 0 auto;
 width:100%;
 padding:10px;
 display: none;
 border-radius: .25rem;
}
.num{
  font-size: 20px;
  font-weight: bold;
  color:rgb(241, 185, 80) 
}

.quiz{
  background-color: rgb(248, 243, 230);
  padding:30px;
  margin: 40px;
}
.question-number{
  color:rgb(212, 73, 27);
  font-size: 25px;
  font-weight: bold;
}
.top-wrapper{
  width: 100%;
  max-width: 700px;
  margin: 100px auto;
  background-color: rgb(228, 250, 228);
  padding: 30px;
  border-radius: 0.5rem;
}
.top-wrapper h1,h3{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(85, 22, 22);
  margin-bottom: 15px;
}

.choices h4{
  color: rgb(209, 78, 78);
}